<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <property>
        <name>oozie.proxysubmission</name>
        <value>True</value>
    </property>
    <property>
        <name>oozie.use.system.libpath</name>
        <value>True</value>
    </property>
    <property>
        <name>queueName</name>
        <value>default</value>
    </property>
    <property>
        <name>oozie.wf.application.path</name>
        <value>${nameNode}/oozieMr</value>
    </property>
    <property>
        <name>user.name</name>
        <value>root</value>
    </property>
    <property>
        <name>nameNode</name>
        <value>hdfs://hadoop1:8020</value>
    </property>
    <property>
        <name>resourceManager</name>
        <value>hadoop1:8032</value>
    </property>
    <property>
        <name>streamingMapper</name>
        <value>oozieMr/mapper.py</value>
    </property>
    <property>
        <name>streamingReducer</name>
        <value>oozieMr/reducer.py</value>
    </property>
    <property>
        <name>configFile</name>
        <value>oozieMr/centroids.txt</value>
    </property>
    <property>
        <name>inputDir</name>
        <value>oozieMr/input</value>
    </property>
    <property>
        <name>outputDir</name>
        <value>oozieMr/output</value>
    </property>
</configuration>